In [9]:
import pandas as pd
import matplotlib as plt

In [15]:
bitcoin_data = pd.read_csv("Data/BTC_ZAR Synthetic Historical Data.csv")

In [16]:
jse_data = pd.read_csv('Data/JSE Top 40 Historical Data.csv')

In [18]:
jse_data.tail()

             Date      Price       Open       High        Low  Volume    Chg%
497  Jan 08, 2020  51,090.54  51,154.44  51,270.27  50,835.47  91.56M  -0.12%
498  Jan 07, 2020  51,154.44  50,999.61  51,340.35  50,749.86  84.95M   0.30%
499  Jan 06, 2020  50,999.61  51,536.50  51,625.25  50,795.20  80.09M  -1.04%
500  Jan 03, 2020  51,536.50  51,438.04  51,633.77  51,149.17  99.15M   0.19%
501  Jan 02, 2020  51,438.04  50,816.05  51,682.95  50,807.33  55.95M   1.22%

In [19]:
edited_bitcoin_data = bitcoin_data.drop()

             Date    Price     Open     High      Low Vol. Change %
726  Jan 05, 2020  105,433  105,191  107,159  104,827    -    0.17%
727  Jan 04, 2020  105,253  104,961  105,829  104,211    -    0.56%
728  Jan 03, 2020  104,662   98,152  105,442   96,980    -    6.66%
729  Jan 02, 2020   98,126  100,875  101,021   97,888    -   -2.72%
730  Jan 01, 2020  100,869  100,729  101,624  100,539    -    0.07%